{% extends 'base.html' %}
{% block content %}
<div class="container bg-dark text-light pb-3" style="width:350px;">
    <form method="post" class="form-signin">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal pt-3 mt-5">Login</h1>

        <label for="username" class="sr-only">Email</label>
        <input class="mb-3" type="email" id="username" name="username" placeholder="Email" required autofocus><br>

        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" placeholder="Password" required>

        <div class="row mt-3">
            <div class="col text-right pr-0">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
            <div class="col text-left mr-4 pl-1">
                <a href="{% url 'register' %}" class="btn btn-primary" style="width:100px;">Register</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}