{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <h1>Tasks</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Task</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.task }}</td>
                    <td>{{ task.date }}</td>
                    <td>
                        <a class="btn btn-warning" href="{% url 'update' task.id %}">Edit</a>
                        <a class="btn btn-danger" href="{% url 'delete' task.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}