{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="container bg-dark text-light mt-5 pt-3">
    <div class="row ">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-left ml-5">Tasks</h1>
                </div>
                <div class="col">
                    <div class="row pb-3 text-right mr-3">
                        <div class="col">
                            <h3 class="mt-2 text-right">{% trans 'User:' %} {{ user.first_name }}</h3>
                        </div>
                        <div class="col-3">
                            <a class="btn btn-warning mt-2 mb-2" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table id="table" class="table table-striped bg-dark text-light">
            <thead>
                <tr>
                    <th scope="col">{% trans 'Task' %}</th>
                    <th scope="col">{% trans 'Date' %}</th>
                    <th scope="col"><a class="btn btn-success" href="{% url 'create' %}">{% trans 'New' %}</a></th>
                </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.task }}</td>
                    <td>{{ task.date }}</td>
                    <td>
                        <a class="btn btn-warning" href="{% url 'update' task.id %}">{% trans 'Edit' %}</a>
                        <a class="btn btn-danger" href="{% url 'delete' task.id %}">{% trans 'Delete' %}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}